.swiper-pagination-bullet {
  background-color: black;
}
.swiper-pagination {
  display: flex !important;
  justify-content: end !important;
  position: absolute;
}

.swiper {
  position: relative;
}

@media (max-width: 780px) {
  .swiper-pagination {
    justify-content: center !important;
  }
}
.brendSwiper{
  display: none;
}
@media(max-width:640px){
  .brendSwiper{
display: flex;
margin-bottom: 70px;
  }
  .swiper-slide{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}